@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100; 0,300; 0,400; 0,500; 0,700; 0,900; 1,100; 1,300; 1,400; 1,500; 1,700; 1.900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    background-image: url(./imgs/fundo-body.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.titulo{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 30px;
    

    position: fixed;
    z-index: -1;
}

.titulo .txt{
    padding-top: 150px;
}

.titulo h1{
    text-align: center;
    font-size: 55px;
    font-weight: 600;
    color: rgb(255, 255, 255);;
    filter: drop-shadow(0px 0px 1px white);
    margin-bottom: 10px;
    
}

.titulo h2{
    text-align: center;
    font-weight: 700;
    color: rgb(34, 133, 214);
    filter: drop-shadow(0px 0px 1px white);
    font-size: 60px;
}

.titulo .btns{
    display: flex;
    justify-content: center;
}

.titulo .btns button{
    background-color: #ffffff52;
    color: rgb(255, 255, 255);;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.274);
    margin: 0 10px;
    height: 30px;
    width: 90px;
}

.conteudo{
    padding: 100px;
    box-shadow: 0px -21px 27px 23px white;
    background-color: #ffffff;
}

.conteudo h1{
    font-size: 3em;
    margin-bottom: 20px;
}

.conteudo p{
    font-size: 1.5em;
}

    /* area das nuvens */

section.ondas-box{
    position: relative;
    width: 100%;
    height: 85vh;
    overflow: hidden;
}

.onda{
    width: 900px;
    height: 250px;
    position: absolute;
    bottom: 0;
    background-image: url(./imgs/nuvem.png);
}

.onda55{
    bottom: 100px;
    position: absolute;
    height: 250px;
    width: 500px;
    background-image: url(./imgs/nuvem2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

#onda1{
    z-index: 1000;
    opacity: 1;
    --vl: 1.5;
    animation: ani calc(8s * var(--vl)) linear infinite alternate;
}

#onda2{
    z-index: 999;
    opacity: 1;
    --vl: 2.3;
    animation: ani calc(8s * var(--vl)) linear infinite alternate;
}

#onda3{
    z-index: 998;
    opacity: 0.9;
    --vl: 2;
    animation: anie calc(8s * var(--vl)) linear infinite alternate;
}

#onda4{
    z-index: 997;
    opacity: 0.9;
    --vl: 2.8;
    animation: anie calc(8s * var(--vl)) linear infinite alternate;
}

#onda5{
    --vl: 7;
    animation: aniee calc(8s * var(--vl)) linear infinite alternate;
}


        /* area dos @ */

@keyframes ani {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(140%)
    }
}

@keyframes anie {
    100% {
        transform: translateX(-100%);
    }
    0% {
        transform: translateX(140%)
    }
}

@keyframes aniee {
    0% {
        transform: translateX(30%);
    }
    100% {
        transform: translateX(130%)
    }
}

@media screen and (max-width:500px){
    body{
        background-position: center;
        background-size: cover;
    } 

    .titulo .txt h1{
        font-size: 35px;
        padding: 10px;
    }

    .titulo .txt h2{
        font-size: 40px;
        text-align: center;
    }

    .titulo .btns button{
        height: 40px;
        width: 105px;
        font-size: 18px;
        font-weight: 500;
    }

    .onda{
        width: 900px;
        height: 200px;
        background-image: url(./imgs/nuvem.png);
        background-size: cover;
    }

    .onda55{
        height: 130px;
        width: 300px;
        background-image: url(./imgs/nuvem2.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        bottom: 200px;
        
    }

    #onda5{
        --vl: 4;
        animation: aniee calc(8s * var(--vl)) linear infinite alternate;
    }
    

    @keyframes aniee {
        0% {
            transform: translateX(-5%);
        }
        100% {
            transform: translateX(20%)
        }
    }
}

